*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #a051ce, #9048b9, #2d0249);
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}

 header .navbar-brand{
    font-family: "Permanent Marker", cursive;
 }

header .wave-nav{
    position: absolute;
    z-index: 1;
}
/* .container.home{
    height: 100vh;
} */
nav{
    z-index: 2;
}
nav .nav-item a{
    color: white;
}
nav .offcanvas{
    background-color: #2d0249 !important;
}
main .container.home h1{
    font-weight: 900;
}
main .container.home .btn{
    background-color: #2d0249;
    border: none;
    padding: 1rem;
    font-weight: 500;
    color: white;
    border-radius: 4px;
}
.product .card {
    border: none;
}

.card img{
    object-fit: cover;
    border-radius: 0;
    opacity: 0.7;
}

main .product .btn{
    border-radius: 4px;
    background-color: #2d0249;
    border: none;
    padding: 0.5rem 1rem;
}
main .product .btn span{
    margin-left: 0.5rem;
}

main .product .card .badge.chocolate{
    background-color: chocolate !important;
}
main .product .card .badge.cheese{
    background-color: rgb(204, 216, 35) !important;
}
main .product .card .badge.mix{
    background: linear-gradient(45deg, chocolate, rgb(204,216,35)) !important;
}
main .product .card .badge.boba{
    background: linear-gradient(45deg, chocolate, rgb(36, 36, 36)) !important;
}

.btn:hover{
    background-color: #6f1da1 !important;
}

main .product h2, main .about h2{
    font-weight: 900;
    color: white;
}

main .about h3{
    font-family: "permanent Marker", cursive;
}

footer{
    background-color: #2d0249 !important;
}

footer .navbar-brand{
    font-family: "Permanent Marker", cursive;
    font-size: 1.5rem;
}
footer a{
    color: white;
    /* margin-bottom: 1rem; */
    text-decoration: none;
}
footer h3{
    font-weight: 700;
}
footer .contact span{
    margin-left: 10px;
}
/* responsive breakpoints */
@media (max-width:1200px){
    main .container.home .row{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10rem;
    }
    main .product .btn span{
        display: none;
    }
}

@media (max-width:576px){
    main .about{
        margin-bottom: 4rem;
    }
    main .about p, h3{
        text-align: center;
    }
}